/* Estilo general de la página */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif; /* Tipo de letra predeterminado para el cuerpo */
}
#loginForm{
    background-color: rgb(255, 0, 0);
    max-width: 400px;
    justify-content: center;
}
/* Estilo para el título h1 */
h1 {
    font-family: 'Times New Roman', Times, serif; /* Tipo de letra para el título h1 */
    font-size: 36px;
}

/* Estilo para etiquetas de formulario */
label {
    font-family: 'Courier New', Courier, monospace; /* Tipo de letra para etiquetas de formulario */
    font-size: 40px;
}

/* Estilo para los campos de entrada de texto y contraseña */
input[type="text"],
input[type="password"],
input[type="email"] {
    font-family: 'Verdana', sans-serif; /* Tipo de letra para campos de entrada de texto */
    background-color: #222; /* Color de fondo ligeramente más oscuro para campos de entrada */
    color: white;
    border: 1px solid white;
    padding: 5px;
    font-size: 30px;
}

/* Estilo para el botón */
button {
    font-family: Arial, sans-serif; /* Tipo de letra para botones */
    font-size: 30px;
    background-color: #555; /* Color de fondo más oscuro para el botón */
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;

}
input[type="submit"]{
    font-size: 30px;
}

/* Estilo para el mensaje de error */
#mensaje {
    color: red;
    font-weight: bold;
}

textarea {
    width: 70%; /* El textarea ocupará el 70% del ancho del contenedor padre */
    height: 200px; /* Altura en píxeles o cualquier otra unidad */
    font-size: 25px;
}

/* Subrayar los enlaces dentro del menú */
.menu a {
    text-decoration: underline;
    font-size: 35px;
}
table {
    border-collapse: collapse;
}

/* Estilo para las celdas de la tabla */
td {
    padding: 10px;
}

/* Estilo para los contenedores de imágenes */
.image-container {
    position: relative;
    overflow: hidden;
    width: 300px; /* Ancho deseado para las imágenes */
    height: 300px; /* Altura deseada para las imágenes */
}

/* Estilo para las imágenes */
.image-container img {
    transition: transform 0.2s;
    width: 100%;
    height: 100%;
}

/* Efecto de agrandamiento al pasar el cursor */
.image-container:hover img {
    transform: scale(1.2);
}

select {
    font-size: 30px; /* Tamaño de fuente */
    width: 200px; /* Ancho del cuadro desplegable */
    padding: 5px; /* Espacio interno del cuadro desplegable */
}

